*{
    margin: 0;
    padding: 0;
}
html {
    background-color: rgb(165, 165, 165);
}
img{
    height: 200px;
    width: 200px;
}

p {
    font-size: 20px;
    font-family: roboto, sans-serif;
}

h3 {
    font-size:  40px;
    font-family: roboto, sans-serif;
    padding: 10px;
}

#boxHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 200px;
    
}
#nombre {
    padding: 15px;
}

#descripcion {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 10px;
}


